@font-face {
  font-family: "Montserrat-Bold";
  src: url("./assets/fonts/Montserrat/static/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
}

:root {
  ---bgcolor: #090909;
  ---textcolor: #717173;
  ---cardcolor: #f00c53;
}

body {
  font-size: 18px;
  line-height: 1.714286;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(---bgcolor);
  color: white !important;
  font-weight: 400;
}

.fw-6 {
  font-size: 17px;
  font-weight: 600;
}

.w-10 {
  width: 150px;
}

.h7 {
  font-size: 60px;
  font-family: "Montserrat-Bold";
  line-height: 75px;
}

.h0 {
  font-size: 50px;
  font-family: "Montserrat-Bold";

}

.letterspecing {
  letter-spacing: 6px;
  font-size: 16px;
}

.bg-color {
  background-color: #191919 !important;
}

a {
  cursor: move !important;
}

.nav-tabs {
  border: none;
  font-weight: 600;
}

.nav-tabs .nav-link {
  border: none;
  color: white !important;

}

.nav-tabs .nav-link.active {
  color: red !important;
  background-color: #191919;
  border: none;
  border-bottom: 2px solid red;
}

.navbar-toggler {
  color: white !important;
  background-color: white;
}

.navbar {
  background-color: transparent !important;
}

.navbar a {
  color: #fff;
}

.nav-link:hover,
.nav-link:focus {
  color: red
}

.hoverpink:hover {
  background-color: var(---cardcolor) !important;
}

.bg-img {
  background: url("./assets/images/portfolio-3.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 400px;
}

input {
  padding: 10px;
  border-radius: 8px;
}

.minheight{
  min-height: 400px;
}
@media (max-width:576px) {
  .h7 {
      font-size: 32px;
      line-height: 60px;

  }

  .h0 {
      font-size: 32px;
  }
}

@media (min-width:992px) {
  .w-80 {
      width: 97%;
  }

  .w50 {
      width: 50%;
  }
}